data/*
pose-hg/pose-hg-demo/data/*
pose-hg/pose-hg-demo/exp/*
pose-hg/pose-hg-train/data/*
pose-hg/pose-hg-train/exp/*
result_poses/*
*.t7
result/*
result_drones_GT/*
result_drones_GT_2500_1e-3/*
result_drones_GT_5000_1e-4/*
